<div class="content">
  <h1>Om mig</h1>
  <p>Hej! Mitt namn är Simon och jag är en 21-årig utvecklare! Jag är född i Hudiksvall men är uppvuxen i Vallentuna norr om Stockholm. Jag har hållit på med webbutveckling sedan gymnasiet och jobbat med det sedan jag tog studenten 2016.</p>

  <p>När jag inte jobbar eller frilansar med min egna firmna tycker jag om att spela datorspel eller kolla på e-sport. Jag har även ett intresse för kryptovalutor, politik och hiphop.</p>

  <p>Teknik har alltid legat mig varmt om hjärtat. Min pappa har hela mitt liv jobbat med IT, mer specifikt nätverk, och det var han som väckte det intresset vid ung ålder. Redan när jag var 11 år gammal byggde vi min första speldator tillsammans.</p>

  <p>Nu idag tycker jag det är kul att pilla med olika webbprojekt och IoT-prylar, men ofta blir det så att tiden inte räcker till.</p>
</div>
